.app {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.field {
  width: 566px;
  height: 566px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
